<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Genres<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/genres/action+adventure">Action + Adventure</a></li>
            <li><a href="/genres/animation">Animation</a></li>
            <li><a href="/genres/art">Art</a></li>
            <li><a href="/genres/comedy">Comedy</a></li>
            <li><a href="/genres/documentary">Documentary</a></li>
            <li><a href="/genres/drama">Drama</a></li>
            <li><a href="/genres/fashion">Fashion</a></li>
            <li><a href="/genres/horror">Horror</a></li>
            <li><a href="/genres/instructional">Instructional</a></li>
            <li><a href="/genres/kids+family">Kids + Family</a></li>
            <li><a href="/genres/romance">Romance</a></li>
            <li><a href="/genres/music">Music</a></li>
            <li><a href="/genres/sci_fi+fantasy">Sci Fi + Fantasy</a></li>
            <li><a href="/genres/tv+series">TV + Series</a></li>
            <li><a href="/genres/short_films">Short Films</a></li>
            <li><a href="/genres/sports">Sports</a></li>
            <li><a href="/genres/thriller">Thriller</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/logout">Logout</a>
      </li>
      <li class="navbar-right">
        <a href="https://github.com/jlamberti/cs313-node">Github</a>
      </li>
    </ul>
  </div>
</nav>
