<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="index">

  <% include ../partials/nav.ejs %>

  <div class="center">
    <h1>Aldo Lamberti</h1>
  </div>
</body>
</html>
